#referal-banner {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 7px;
  margin: 0px;
}

#nav-bar {
  margin: 0px;
  background-color: #c8c7c7;
  display: flex;
  justify-content: center;
}

#nav-bar div{
  text-decoration: none;
color: #3f5571;
padding: 20px 25px;
display: block;
font-family: arial-bold,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-bar div:hover{
  color: white;
  background-color: #3f5571;
}

#painting-team {
  width: 100%;
}
